flake8-blind-except
flake8-builtins
flake8-class-newline
flake8-comprehensions
flake8-deprecated
flake8-docstrings
flake8-import-order
flake8-quotes
pytest-repeat
pytest-rerunfailures
pytest
setuptools
colorcet
pytest-mock
pybind11
pandas>=1.4.0
bokeh
pandas-bokeh
nbformat>=5.4.0
nbconvert>=6.4.4
jupyterlab
graphviz

tqdm